.card__1 {
  background-image: url(images/articles/facial.jpg);
}

.card__2 {
  background-image: url(images/articles/relax.jpg);
  background-position: center;
}

.card__3 {
  background-image: url(images/articles/hidroterapia.jpg);
  background-position: center;
}
