* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* PROPIEDADES GENERALES */

.reverse {
  flex-direction: row-reverse;
}

.flex {
  display: flex;
}

.unstyled_list {
  list-style: none;
}

.content {
  max-width: 992px;
  margin: auto;
}

.encabezado {
  text-align: center;
  padding: 18px;
}

.banner {
  text-align: center;
  padding: 32px 20px;
  background-color: rgb(114, 136, 120);
  color: white;
}

* .banner_brown {
  background-color: #724d29;
  color: white;
  text-align: center;
  padding: 32px 20px;
}

.column {
  flex-direction: column;
}

main {
  margin: 220px 0 30px 0;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Code Pro";
  font-weight: 300;
}

.boton_servicios {
  font-size: 20px;
  font-weight: bolder;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(191, 191, 191, 1) 100%);
  margin: 0 auto;
  border: #cccccc solid 4px;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.boton_servicios:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(103, 112, 98) 100%);
  color: #ececec;
}

.boton_reserva {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  font-size: 18px;
  font-weight: bolder;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(191, 191, 191, 1) 100%);
  border: #cccccc solid 4px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.boton_reserva:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(103, 112, 98) 100%);
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}



/* FIN PROPIEDADES GENERALES */


/* RELACIONADO A NAVBAR */

.top_bar_link {
  color: white;
  text-decoration: none;
  align-items: center;
  padding: 8px 32px;
  gap: 10px;
}

.top_bar {
  font-family: "Merriweather";
  top: 0;
  justify-content: end;
  background-color: rgb(114, 136, 120);
  position: fixed;
  width: 100%;
  z-index: 10;
}

header {
  background-color: #f7f6f6;
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 10;
  font-family: "Merriweather";
}

nav {
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav_item {
  margin: 0px 18px;
  color: #121212;
  font-weight: bold;
}

.nav_link {
  text-decoration: none;
  color: #121212;
}

.nav_link:visited {
  text-decoration: none;
  color: #121212;
}

.nav_toggle {
  color: #121212;
  background: none;
  border: none;
  padding-top: 10px;

  display: none;
}

.sub_menu {
  position: fixed;
  background-color: #c0c7c2;
  display: none;
}

.sub_nav_link {
  text-decoration: none;
  line-height: 50px;
  padding: 18px;
  color: rgb(114, 136, 120);
}

.sub_nav_item:hover {
  background-color: rgb(255, 255, 255);
}

nav li:hover>.sub_menu {
  display: block;
  z-index: 10;
}

.acordeon {
  display: none;
}


/* FIN DE NAVBAR */

/* CARROUSEL DE IMAGENES INDEX */

.slider {
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%;
  animation: slide 20s infinite;
}

.slider li {
  width: 100%;
  list-style: none;
  position: relative;
  text-align: center;
}

.slider img {
  width: 100%;
  object-fit: cover;
}

/* FIN CARROUSEL DE IMAGENES INDEX */

/* ELEMENTOS DE INDEX */

.index_cuerpo {
  text-align: center;
  max-width: 992px;
  margin: 30px auto;
}

.index_cuerpo p {
  padding: 8px;
  text-align: justify;
}

.servicios_index {
  justify-content: center;
  gap: 32px;
}

.tarjeta_servicio_index {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ececec;
  gap: 32px;
  height: 600px;
}

.texto_tarjeta_servicio {
  width: 20%;
  gap: 32px;
}

.texto_tarjeta_servicio h2 {
  font-size: 2rem;
}

.tarjeta_servicio_index img {
  height: 100%;
}

.map {
  width: 100%;
  margin-top: 18px;
}

/* FIN ELEMENTOS DE INDEX */

/* ELEMENTOS NOSOTROS */

/* FIN SEGMENTO NOSOTROS5 */



/* ELEMENTOS ÁREA SERVICIOS */

.servicios_cards_container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 60px;
}

.servicios_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  height: 500px;
  border: #121212 solid 1px;
  border-radius: 15px;
}

.servicios_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.servicios_card h2 {
  padding: 15px 0;
}

.texto_servicios_tarjeta {
  text-align: justify;
  height: 20%;
  padding: 0 18px;
}
.servicios_card .boton_servicios{
  margin: 0;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  
}

/* FIN ELEMENTOS SERVICIOS */

/* ELEMENTOS DE PÁGINA "PAQUETES" */

.tarjeta_paquete {
  padding: 10px 0;
}

.tarjeta_paquete img {
  object-fit: cover;
  width: 600px;
  height: auto;
}

.cabecera_paquete {
  background-color: #302c92;
  color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


.tarjeta_paquete h2 {
  text-align: center;
  font-weight: 500;
  padding: 30px 20px;
}

.texto_tarjeta_paquete {
  background-color: #ececec;
  padding-bottom: 10px;
}

.texto_tarjeta_paquete>ul,
.texto_tarjeta_paquete p {
  padding: 10px 30px;

}

.green_card {
  justify-content: space-between;
  padding: 20px 0;
}

.cabecera_verde h3 {
  background-color: rgb(103, 112, 98);
  color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  padding: 10px;
  font-weight: 400;
}

.green_card .imagen_cabecera {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

#zafiro {
  background-image: url(images/paquetes/imagen4.jpg);
}

#esmeralda {
  background-image: url(images/paquetes/imagen5.jpg);
}

#rubi {
  background-image: url(images/paquetes/imagen6.jpg);
}

.texto_tarjeta_verde {
  padding: 10px 20px;
  background-color: #ececec;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}

/* FIN PAQUETES  */

/* ZONA CONTACTO  */

form {
  background-color: #ececec;
  height: 650px;
  align-items: center;
  justify-content: center;
}

.campo {
  width: 80%;
  margin: 12px auto;
  border-radius: 15px;
  padding: 12px;
  border: #f7f6f6;
}

.fecha_hora {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo_med {
  width: 40%;
  margin: 12px 12px;
  border-radius: 15px;
  padding: 12px;
  border: #f7f6f6;
}

textarea {
  width: 80%;
  margin: 12px auto;
  border-radius: 15px;
  border: #f7f6f6;
  padding: 12px;
}

#imagen_contacto {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.services_card {
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  max-width: 220px;
  text-align: center;
  padding: 10px 20px;
  border: outset 3px #c0c7c2;
}

.services_card p {
  padding: 10px 0;
}

.material-symbols-outlined.card_logo {
  font-size: 60px;
}

.nosotros_hero {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  flex-wrap: wrap;
}

.nosotros_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 300px;
  height: 300px;
  border: inset 4px #c0c7c2;
  padding: 40px;
  border-radius: 100%;
}

.nosotros_card h2 {
  margin: 10px 0;
}

.nosotros_item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.valores {
  text-align: center;
  padding: 30px 0;
}

.lista_valores {
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #c0c7c2;
  padding: 30px;
}

.lista_valores li {
  margin: 0 30px;
}

.nosotros_content {
  text-align: center;
  padding: 30px 0;
}

/* AREA WELLNESS  */


.hero {
  background-image: url(images/wellness/imagen1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  justify-content: space-around;
}

.texto_hero {
  width: 80%;
  margin-left: auto;
  align-items: center;
  gap: 32px;
}

.texto_hero p {
  width: 50%;
  text-align: justify;
}


.hero h2 {
  font-weight: 600;
}

.green_hero {
  background-color: #d5dfc2;
  width: 80%;
  margin-left: auto;
  padding: 12px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
  color: #724d29;
}

.banner_wellness {
  background-color: rgb(114, 136, 120);
  padding: 30px 5%;
  color: white;
}

.banner_wellness p {
  font-family: "Source Code Pro";
  font-weight: 100;
  padding: 10px 0;

}

.terapias_top {
  justify-content: center;
  align-items: center;
}

.terapias {
  align-items: center;
}

.tarjeta_terapia {
  padding: 30px;
  width: 80%;
}


.tarjeta_terapia p {
  padding: 20px;
}

.tarjeta_terapia h4 {
  text-align: center;
}

.texto_tarjeta_terapia {
  background-color: #ececec;
  padding: 20px;
  border-radius: 25px;
}

.texto_nobg {
  background-color: transparent;
  padding: 60px;
}

.texto_nobg h4 {
  padding: 18px 0;
  text-align: center;
}

.tiempo_terapia {
  width: 100%;
  padding: 18px 0;
  text-align: end;
}

#imagen_terapias {
  width: 30%;
  height: 100%;
}

#banner_wellness_imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 10%;
}

#banner_wellness_3 {
  margin: 0 auto;
  display: block;
  width: 80%;
}

#banner_balneo {
  width: 100%;
}

/* FIN AREA WELLNESS  */



/* LINEAS CORRESPONDIENTES AL FOOTER  */

.top_footer {
  font-size: 18px;
  background-color: rgb(114, 136, 120);
  justify-content: space-around;
  padding: 18px;
}

.footer_links {
  line-height: 25px;
}

.footer_links a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  padding: 8px 0;
}

.footer_links a {
  text-decoration: none;
  color: white;
}

.bottom_footer {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* FIN ELEMENTOS DEL FOOTER  */

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  90% {
    margin-left: -300%;
  }

  100% {
    margin-left: 0;
  }
}

@media (max-width: 992px) {

  /* RESPONSIVE GENERAL */

  .reverse {
    flex-direction: column;
  }

  /* FIN RESPONSIVE GENERAL */

  /* ELEMENTOS RESPONSIVOS DEL NAVBAR */

  .nav_toggle {
    display: block;
  }

  .top_bar {
    flex-direction: column;
    align-items: center;
  }

  .top_bar_link {
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 5px 0;
  }

  header {
    height: 140px;
    align-items: center;
    top: 68px;
  }

  nav {
    height: 140px;
    justify-content: space-around;
  }

  nav img {
    width: 200px;
  }

  .nav_menu {
    text-align: center;
    background-color: rgb(124, 132, 116);
    position: fixed;
    left: 0;
    top: 208px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 50px;
    padding: 10px 0;

    height: calc(100% - 208px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;

    z-index: 10;
  }

  .nav_menu_visible {
    left: 0;
  }

  .nav_item {
    margin: 0;
  }

  .sub_menu {
    position: relative;
  }

  .desktop {
    display: none;
  }

  .acordeon {
    display: block;
  }

  .drop_span {
    display: flex;
    align-items: center;
  }

  .slider {
    margin: 30px 0;
    height: auto;
  }

  .sub_menu {
    background-color: transparent;
    list-style: circle;
    text-align: left;
  }

  .sub_nav_link {
    color: white;
    padding: 0;
  }

  .sub_nav_item:hover {
    background-color: transparent;
  }

  /* FIN ELEMENTOS RESPONSIVE DEL NAVBAR  */

  .index_cuerpo {
    padding: 0 30px;
  }

  .services_card {
    max-width: 300px;
  }

  .nosotros_item {
    overflow-x: scroll;
  }

  /* ELEMENTOS RESPONSIVOS DEL INDEX */

  .tarjeta_servicio_index {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
  }

  .texto_tarjeta_servicio {
    width: 80%;
  }

  .tarjeta_servicio_index img {
    width: 100%;
    height: auto;
  }


  /* FIN RESPONSIVE INDEX */

  /* ELEMENTOS RESPONSIVOS DE PAG PAQUETES  */

  .tarjeta_paquete {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }

  .texto_tarjeta_paquete {
    font-size: medium;
    text-align: center;
    width: 100%;
  }

  .texto_tarjeta_paquete li {
    list-style-position: inside;
  }



  .tarjeta_paquete img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }


  .imagen_cabecera {
    background-position: 50%;
    flex-shrink: 2;

  }

  .texto_tarjeta_verde {
    flex-shrink: 2;
    font-size: small;
    text-align: center;
    padding: 0;
  }

  .texto_tarjeta_verde ul {
    list-style-position: inside;
  }

  /* FIN ELEMENTOS RESPONSIVOS DE PAG PAQUETES  */


  /* RESPONSIVO AREA WELLNESS  */

  .texto_hero {
    margin: auto;
    font-size: medium;
    text-align: center;
  }

  .texto_hero p {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #c0c7c262;
  }

  .green_hero {
    font-size: medium;
    width: 100%;
  }

  .banner_wellness {
    font-size: small;
  }

  /* FIN RESPONSIVO AREA WELLNESS  */

  /* RESPONSIVO CONTACTO */


  /* FIN RESPONSIVO CONTACTO */

  .terapias_top {
    flex-wrap: wrap;
  }

  .terapias {
    width: 100%;
  }

  .terapias_no_background {
    flex-wrap: wrap;
  }

  #imagen_terapias {
    transform: rotate(90deg);
    width: 50%;
  }

  .tarjeta_terapia {
    width: 100%;
    padding: 20px 5px;
  }

  .texto_tarjeta_terapia {
    width: 100%;
  }




  /* ELEMENTOS RESPONSIVOS DEL FOOTER  */

  .top_footer {
    font-size: smaller;
    padding: 32px 0;
  }

  .footer_links a {
    justify-content: center;
    text-align: center;
  }


  #facebook a span,
  #instagram a span,
  #tiktok a span,
  #whatsapp a span {
    display: none;
  }



  /* FIN ELEMENTOS RESPONSIVOS DEL FOOTER */
}